.card {
  border-radius: 0 !important;
  background-color: black !important;
  border: 0 !important;
}

.card-title, .card-text {
  color: white !important;
}

.card .card-img-top {
  border: 0 !important;
}

.card-body {
  height: 150px !important;
}

.badge {
  padding: .60em .8em !important;
  border-radius: 0 !important;
}

.badge-room {
  background-color: rebeccapurple;
  color: white;
}

.badge-farm {
  background-color: chocolate;
  color: white;
}

.box-search select {
  height: 32px;
  border: 1px solid black;
  border-radius: 0;
}

.form-text {
  margin-bottom: .50rem;
}

.form-control:focus {
  border-color: black !important;
  box-shadow: none !important;
}