@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

.bg-black { background-color: black; }

.navbar { padding: 1rem 2rem !important; }

.nav-item .nav-link { font-size: 14px; }

.expansive {
  max-width: 1600px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.box-search { padding: 6px 12px 0; }

.focus-visible { border: 1.3px solid black; }

.box-search .border-right-label {
  border-right: 1px solid #dedcdc;
}

.box-search input {
  border: 0;
  padding: 0;
  height: 24px;
}

.box-search input:focus {
  outline: 0;
  box-shadow: none;
}

.shadows {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #dedcdc
}

.btn-search {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  width: 110px;
  height: 50px;
}

.btn-search:hover {
  color: #38b6b5 !important;
}

.card-price {
  color: #38b6b5 !important;
}

.mt-34px {
  margin-top: 34px
}

.price-details {
  font-size: 14px;
  color: white;
}